# Python
__pycache__/
*.pyc
.venv/

# Environment / secrets
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local Jenkins secrets/data
jenkins_home/

# Jenkins agent runtime files
agent.jar
secret-filedist/
.pytest_cache/

dist/